
#bloc_page{
    width:950px;
    margin:auto;
    padding-top: 20px;
}

header {
    display: flex;
    justify-content:space-between; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav li{

    margin-right: 32px ;
}
.titreheader{
    font-weight: bold;
    margin-bottom: -10px;
}

nav a {
    text-decoration: none;
    color: black
    }
a:hover {
    color:blue;
    border-top: 1px blue solid;
    padding-top: 25px;
}
a:focus{
    color: blue;
}

form {
    display:flex;  
}

form ::placeholder {
    color:black;
    font-weight: bold;
}

i{
    border: 1px solid #EEEEEE;
    padding: 12px;
    background:#EEEEEE ;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

button{
    background-color:blue;
    border: 1px solid cornflowerblue;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
    padding: 12px; 
}

 input
{   
    padding:8px;
    border-top:1px solid #EEEEEE;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #EEEEEE       
}


body {
    background-color:white;
}

section {
    display: flex  ;  
    margin-bottom: 40px;
    margin-top: 30px;
}

P,h4,nav {
    font-family: 'Raleway', sans-serif;
    color: black;
}

article{
    position: relative;
    background-color: #E3E4E4  ;
    border-radius:9px ;
    margin-bottom: 10px;
    margin-right: 23px ;
    padding :10px ; 
    flex:0.6  ;
    padding-left: 20px;
}
.titre_article{
    margin-left: 11px;
    margin-top: 10px;
}

.images_article {
    display: flex;  
}

.bordure_article{
    border: 1px white solid;
    padding: 5px;
    height: 100px;
    border-radius: 13px;
    background:white;
    padding-bottom: 45px;
    margin-bottom: 20px; 
    margin-left:1px; 
    margin-right: 15px;  
}
.photo_article{
    border-top-left-radius: 10px; 
    border-top-right-radius :10px ;
    position: relative;
    top: -3px;
    margin-left:-3px;
    margin-right:-3px ;  
}

.nom-article{
    font-size: 12px;
    margin-top: 3px;
    margin-left:5px;
    font-weight: bold;
}
.prix-article{
    font-size: 12px;
    margin-top: -30px;
    margin-left:5px
 }

 aside {
    
    background-color :#E3E4E4  ;
    border-radius:9px;
    position: relative;
    margin-bottom:10px ;
    padding:5px;
    flex:0.3 265px ; 
}
.titre_aside{
    margin-left: 11px;
    margin-top: 10px;
}

.bordure_aside {
    border: 1px white solid;
    width: 88%;
    padding: 5px;
    height: 100px;
    border-radius: 16px;
    background: white;
    margin-bottom: 18px;
    padding-bottom: 0px;
    padding-top: 4px;
    margin-left: 9px;  
}

.photo_aside{
    position: relative;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    top:-2.5px ;
    right: 3px;  
}

.prix-aside {

    font-size: 12px;
    margin-top: -10px;
    margin-left:110px;
}

.nom-aside{
    font-size: 12px;
    margin-top:-93px;
    margin-left:110px;  
}
.Activités {
    display : flex;
    margin-top:-15px;
}
.bordure_activité{
    margin-right:28px ;
    border-radius: 15px;
    margin-bottom: 35px;    
    border: 1px white solid;
    padding: 5px;  
     box-shadow: 0 1px 10px -6px #777 ;
  }

  .photo_activité{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      position: relative;
      margin-left:-6px;
      margin-right: -6px;
      margin-top:-6px;  
      margin-bottom: -10px;  
  }

  .nom-activité{
      font-size: 12px;
      margin-left: 7px;
      margin-top: 6px;
      margin-bottom:-2px;    
  }

footer {
    display:flex;
    background-color:#E3E4E4 ;
    margin-top: 15px;
    padding: 17px;
    font-size: 10px;
    width:1000px;
    margin-left:150px;    
}

 .lien_footer { 
     margin-right: 230px;
 }

@media screen and (max-width :1024px ) {

    #bloc_page{
        width:auto;
        
     }
    
     nav {
         text-align :left ;
    
     }
     nav ul {
         flex-direction: column;
         
     }
     .hebergement:last-child{
         text-align: center;
     }

     section{
         width: 33.33%;
         
     }
    
     
     }