

    div {

        border: 1px blue solid ;
        padding: 5px;
        width: 20%;
        height: 100px;
        background-color:white;
        border-radius: 4px;
        
         
        
    }

    img {
        position: relative;
    }

    p{
        display: flex;
        position: absolute;
        top : 12px;
        left: 130px;
        
    } 
.moi{
    position: absolute;
    top: 80px;

    .br4{
        position: absolute;
        font-size: 13px;
        bottom:-32px;
        left: 230px;
        
    }
    
    
    .element5{
        border: 1px white solid;
        padding: 5px;
        height: 100px;
        border-radius: 13px;
        background: white;
        padding-bottom: 45px;
        margin-bottom: 20px;  
         
    }
    
    .pho5{
        border-top-left-radius: 10px; 
        border-top-right-radius :10px ;
        position: relative;
        top: -3px;
        margin-left:-3px;
        margin-right:-3px ;
        
    }
    .para5{
        display: flex;
        position: absolute;
        bottom:-19px;
        font-size: 13px;
        left:432px;
       
    }
    
    .br5{
        position: absolute;
        font-size: 13px;
        bottom:-32px;
        left: 432px;
    }
    
    
    .element6{
        border: 1px white solid;
        padding: 5px;
        height: 100px;
        border-radius: 13px;
        background: white;
        padding-bottom: 45px;
        margin-bottom: 20px;  
         
    }
    
    .pho6{
        border-top-left-radius: 10px; 
        border-top-right-radius :10px ;
        position: relative;
        top: -3px;
        margin-left:-3px;
        margin-right:-3px ;
        
    }
    .para6{
        display: flex;
        position: absolute;
        bottom:-19px;
        font-size: 13px;
        left:633px;
       
        
    }
    
    .br6{
        position: absolute;
         bottom:-32px;
        font-size: 13px;
        left: 633px;
        
    }
    
    .element7{
        
        border: 1px white solid;
        width: 87%;
        padding: 5px;
        height: 100px;
        border-radius: 16px;
        background: white;
        margin-bottom: 18px;
        padding-bottom: 0px;
        padding-top: 4px;
        
        
        
    }
    .pho7{
        position: relative;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        top:-2.5px ;
        right: 3px;
        
        
    }
    .para7{
        
            display: flex;
            position: absolute;
            top:70px;
            left: 130px;
            font-size: 12px;           
    }
    
    .br7 {
        position: absolute;
        top:106px;
       font-size: 13px;
       left:130px;
    }
    
    .element8{
        border: 1px white solid;
        width: 87%;
        padding: 5px;
        height: 100px;
        border-radius: 16px;
        background: white;
        margin-bottom: 18px;
        padding-bottom: 0px;
        padding-top: 4px;   
    }
    .pho8{
        position: relative;
        border-top-left-radius:12px;
        border-bottom-left-radius:12px;
        top:-2.5px ;
        right: 3px;  
    }
    
    .para8{
        display: flex;
        position: absolute;
        bottom:235px;
        left: 130px;
        font-size: 12px;
    }
    .br8{
        position: absolute;
        top:230px;
       font-size: 13px;
       left:130px;
    
    }
    
    
    .element9 {
        border: 1px white solid;
        width: 87%;
        padding: 5px;
        height: 100px;
        border-radius: 16px;
        background: white;
        margin-bottom: 18px;
        padding-bottom: 0px;
        padding-top: 4px;
        
    }
    .pho9{
        position: relative;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        top:-2.5px ;
        right: 3px;
        
    }
    .para9{
        display: flex;
        position: absolute;
        top:317px;
        left: 130px;
        font-size: 13px;
    }
    .br9{
        font-size: 13px;
        position: absolute;
        TOP:357px;
       font-size: 13px;
       left: 130px;
    }
    
    
      
    .element10 {
        margin-right: 15px;
    }
    
    .element11{
        margin-right:15px;
    
        margin-bottom:15px
    }
    
    .element13{
        margin-right:15px
    }
    
    .element14{
        margin-bottom:15px;
    }
    footer {
        display:flex;
        background-color:#E3E4E4 ;
        margin-top: 15px;
        padding: 17px;
        font-size: 10px;
        width:1000px;
        margin-left:170px;
    
         
    }
    
    .a_propos {
        margin-right: 250px;
    }
    .Nos_Hebergements {
        margin-right: 250px;
    }
    .Assistance {
        margin-right:250px;
    }
    
    
        .arrondie {
            
            -moz-border-radius:7px;
            -webkit-border-radius:7px;
            border-radius:7px;
    }
    


nav ul {
    list-style: none;
    display: flex;

}

nav li {
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: black ;

}
.image_logement {
    display: flex;
    
}

.image_logement2 {
    display: flex;
}

.element1 {
    margin-right: 15px;
}
.element2 {
    margin-right: 15px;
    
    height: 60px;
    border:50px;
    
}
.element3 {
    margin-right: 15px;
}


.element4 {
    margin-right: 15px; margin-top: 15px;
}
.element5 {
    margin-right: 15px; margin-top: 15px;
}
.element6 {
    margin-right: 15px; margin-top: 15px;
}

section {
    display: flex
    
    
}
article{
    flex:;
    background-color: #E3E4E4  ;
    padding: 5px;
    padding-left: 20px;
    margin-right: 25px;
    border-radius: 9px;

    
}




aside {
    
   
    background-color :#E3E4E4  ;
    flex:2;
    border-radius:9px;
    position: relative;
    padding:10px;
    padding-bottom: 0;
   

    
    
}

.image_marseille {
    display : flex

   
}


.element1{
    border: 1px white solid;
    padding: 5px;
    height: 100px;
    border-radius: 13px;
    background: white;
    padding-bottom: 45px;
    margin-bottom: 20px;  
     
}

.pho1{
    border-top-left-radius: 10px; 
    border-top-right-radius :10px ;
    position: relative;
    top: -3px;
    margin-left:-3px;
    margin-right:-3px ;
    
}
.para1{
    display: flex;
    position: absolute;
    bottom:170px;
    left: 230px;
    font-size: 13px;
    
}

.br1{
    position: absolute;
    top: 440px;
    font-size: 13px;
    left:230px;
}


.element2{
    border: 1px white solid;
    padding: 5px;
    height: 100px;
    border-radius: 13px;
    background: white;
    padding-bottom: 45px;
    margin-bottom: 20px;  
     
}

.pho2{
    border-top-left-radius: 10px; 
    border-top-right-radius :10px ;
    position: relative;
    top: -3px;
    margin-left:-3px;
    margin-right:-3px ;
    
}
.para2{
    display: flex;
    position: absolute;
    top:418px;
    font-size: 13px;
    left:433px;
    
}

.br2{
    position: absolute;
    top: 440px;
    font-size: 13px;
    left:433px ; 
}


.element3{
    border: 1px white solid;
    padding: 5px;
    height: 100px;
    border-radius: 13px;
    background: white;
    padding-bottom: 45px;
    margin-bottom: 20px;  
     
}

.pho3{
    border-top-left-radius: 10px; 
    border-top-right-radius :10px ;
    position: relative;
    top: -3px;
    margin-left:-3px;
    margin-right:-3px ;
    
}
.para3{
    display: flex;
    position: absolute;
    top:418px;
    font-size: 13px;
    left:630px ;
    
}

.br3{
    position: absolute;
    top: 440px;
    font-size: 13px;
    left: 630px;

    
}

.element4{
    border: 1px white solid;
    padding: 5px;
    height: 100px;
    border-radius: 13px;
    background: white;
    padding-bottom: 45px;
    margin-bottom: 20px;  
     
}

.pho4{
    border-top-left-radius: 10px; 
    border-top-right-radius :10px ;
    position: relative;
    top: -3px;
    margin-left:-3px;
    margin-right:-3px ;
    
}
.para4{
    display: flex;
    position: absolute;
    bottom:-19px;
    font-size: 13px;
    left: 230px;
    
}

