@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

#bloc_page{
    width:950px;
    margin:auto;
    padding-top: 20px;
       
}

@media(min-width: 990px) {
    header .main-container .header-container nav ul li {
        padding-top: 20px;
    }
}


@media(min-width: 991px) {

    header .main-container .header-container nav ul {
        
        display: flex;  
    }

    
    }
    

header .main-container .header-container nav ul li:first-child,
header .main-container .header-container nav a.sinscrire {
    color: #0065FC;
    margin-bottom: 0px;
}

header {
    display:flex ;
    justify-content:space-between
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav li{

    margin-right: 20px ;
}
.titreheader{
    font-weight: bold;
    margin-bottom: -10px;
}

nav a {
    text-decoration: none;
    color: black;
    }
a:hover {
    color:blue;
    border-top: 1px blue solid;
    padding-top: 25px;
}
a:focus{
    color: blue;
}

@media (max-width:640px) {
    p.textbtn {
        display: none;
}
}

form {
    display:flex;  
}
}

form ::placeholder {
    color:black;
    font-weight: bold;
}

i{
    border: 1px solid #EEEEEE;
    padding: 12px;
    background:#EEEEEE ;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
form.recherche input {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px 5vw;
    margin-left: -4px;
    height: 20px;
}


/*
Filtres
*/

button{
    background-color:blue;
    border: 1px solid cornflowerblue;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
    padding: 10px; 
}

 input
{   
    padding:8px;
    border-top:1px solid #EEEEEE;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #EEEEEE       
}
.lien {
    border: 1px black solid;
    height: 27px;
    padding: 1px;
    border-radius: 30px;
    margin-top:11px;
    border-left: none;
    padding-right: 15px;
    padding-bottom:-20px;
     
.filtres,
.filtres .content {
    display: flex;
    flex-flow: row wrap;
}
.liens-divers{
    margin-left: -40px;
    }

.filtres .boutonfiltre {
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
}

.filtres .boutonfiltre:hover {
    transform: scale(1.05);
}

body {
    background-color:white;
}

section {
    display: flex  ;  
    margin-bottom: 40px;
    margin-top: 30px;
}

P,h4,nav {
    font-family: 'Raleway', sans-serif;
    color: black;
}

article{
    position: r;
    background-color: #E3E4E4  ;
    border-radius:9px ;
    margin-bottom: 10px;
    margin-right: 25px ;
    padding :7px ; 
    flex:0.6  ;
    padding-left:20px;
}
.titre_article{
    margin-left: 11px;
    margin-top: 10px;
}

.images_article {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 29px;
}
